@font-face {
  font-family: "Open Sans";
  src:
    url("OpenSans-Regular.woff2") format("woff2"),
    url("OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src:
    url("Butler-Free-Med.woff2") format("woff2"),
    url("Butler-Free-Med.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --black-color: #001f3d;
  --orange-color: #ed985f;
  --white-color: #e6e6e6;

  --primary-font: "Butler", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}
